body {
  background-color: #eaf6f6;
}

hr {
  background-color: #eaf6f6;
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

img {
  margin-top: 7px;
  height: 200px;
  width: 200px;
}

h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}

a {
  color: black;
}
